.btn-default {
  @extend .textUppercase;
  @extend .textCenter;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: $h6-size;
  transition: box-shadow 0.6s ease;
  margin: 0;
  font-weight: $bold;
  line-height: 1em;
}

button,
.btn {
  @extend .btn-default;
  @extend .neu-action;
  @extend .p-8;
  @extend .gray;
  &:hover {
    @extend .emphasis;
  }

  &.rounded {
    border-radius: 50%;
    height: 62px;
    width: 62px;
  }

  &[disabled] {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12);
  }
}
