// color utilities
.primary {
  color: $color;
}

.secondary {
  color: $secondary;
}

.success {
  color: $success;
}

.warn {
  color: $warn;
}

.white {
  color: $white;
}

.gray {
  color: $gray;
}

.primaryBkg {
  background: $color;
}

.secondaryBkg {
  background: $secondary;
}

.bodyBkg {
  background: $bodyColor;
}
