// ui elements
.actions {
  @extend .flex;
  @extend .f-je;
  @extend .f-ac;

  & > *:not(:last-child) {
    @extend .mr-16;
    flex-shrink: 0;
  }

  input {
    max-width: 162px;
  }
}

header.withActions {
  @extend .f-l-jsb;
  @extend .f-wrap;
  @extend .mb-56;

  & > span:last-child {
    @extend .actions;
  }
}

.badge {
  @extend .primaryBkg;
  color: $off-white;
  border-radius: $radius;
  padding: 4px 8px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: $off-white;
  z-index: 999;
}
