#mainFooter {
  @extend .p-24;
  @extend .mt-56;
  @extend .neu;
  @extend .f-l-center;
  &,
  & nav {
    @extend .w-100;
  }
  nav {
    @extend .f-l-jsa;
    @extend .mb-16;
    max-width: 200px;
  }
}
