//user agent overrides
body,
figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

body {
  overflow-x: hidden;
  background-color: $bodyColor;
}

// core elements relative position
body,
main,
section,
article {
  @extend .relative;
}

// tap-highlight
a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}

// scrollbar
::-webkit-scrollbar {
  background: $dGray;
}

::-webkit-scrollbar-thumb {
  background: $color;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  border-radius: $radius;
  width: 8px;
}
