ul.list {
  &:not(.dense) {
    li {
      padding: 16px 24px;
    }
  }
  li {
    @extend .flex;
    @extend .f-ac;
    cursor: pointer;
    flex-wrap: wrap;
    &:not(:last-child) {
      border-bottom: solid 1px $off-gray;
    }

    @media #{$tablet-down} {
      & > * {
        flex-basis: 100%;
      }
    }
    @media #{$tablet-up} {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
}
