// variables
// colors
$color: #f44336;
$lightColor: #ff7961;
$darkColor: #ba000d;
$secondary: #00bcd4;
$lightSecondary: #62efff;
$darkSecondary: #008ba3;
$warn: #f44336;
$success: #4caf50;
$gray: #707070;
$bodyColor: #fafafa;
$off-gray: rgba(125, 125, 125, 0.12);
$lGray: #f5f5f5;
$dGray: #424242;
$xdGray: #212121;
$white: #ffffff;
$off-white: rgba(255, 255, 255, 0.8);
$off-black: rgba(0, 0, 0, 0.8);
// typography
$h1-size: 2.6rem;
$h2-size: 2.2rem;
$h3-size: 1.6rem;
$h4-size: 1.2rem;
$h5-size: 1rem;
$h6-size: 0.8rem;
$textField-size: 1rem;
$body-size: 14px;
$line-height: 1.6;
// font family
$body-family: "Kumbh Sans", sans-serif;
$headings-family: "Montserrat", sans-serif;
// font weight
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
// grid
$columns: 12;
$grid-gap: 24px;
// grid breakpoints
$desktop: 1440px;
$laptop: 1280px;
$tablet: 768px;
$mobile: 600px;
$desktop-up: "only screen and (min-width : #{$desktop + 1})";
$laptop-up: "only screen and (min-width : #{$laptop + 1})";
$tablet-up: "only screen and (min-width : #{$tablet + 1})";
$desktop-down: "only screen and (max-width : #{$desktop})";
$laptop-down: "only screen and (max-width : #{$laptop})";
$tablet-down: "only screen and (max-width : #{$tablet})";
// box model
$border: solid 2px $darkColor;
$radius: 24px;
// navbar
$navbarHeight: 60px;
// header
$headerHeight: 100vh;
// card
$cardContentPadding: 24px;
// forms
$inputPadding: 8px 16px;
$textareaPadding: 16px;
// utility
$ease: all 0.3s ease;
$ease-in: all 0.3s ease-in;
$ease-out: all 0.3s ease-out;
$overlay: linear-gradient(to bottom, transparent 48%, rgba(0, 0, 0, 0.8) 100%);
$elevation: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
  0 1px 5px 0 rgba(0, 0, 0, 0.2);
$textElevation: 0 2px 2px rgba(0, 0, 0, 0.56);
//neumorphism
$neumorphism: 20px 20px 60px darken($bodyColor, 10%),
  -20px -20px 60px lighten($bodyColor, 6.5%);
$neumorphismAlt: inset 20px 20px 60px darken($bodyColor, 10%),
  inset -20px -20px 60px lighten($bodyColor, 6.5%);
