// fonts
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// partials
@import "variables";
@import "mixins";
@import "global";
@import "typography";
@import "grid";
@import "animations";
@import "nav";
@import "forms";
@import "buttons";
@import "card";
@import "lists";
@import "footer";
@import "elements";
@import "flex";
@import "text";
@import "colors";
@import "responsive";
@import "utility";
