<template>
  <header class="withActions">
    <h1>Contract</h1>
    <router-link to="/" class="btn">
      <span class="material-icons"> arrow_back </span>
    </router-link>
  </header>
  <EditForm
    v-if="details"
    :steps="steps"
    :details="details"
    @action="update($event)"
  />
  <Loader v-else />
</template>

<script>
import { inject, ref } from "vue";
import EditForm from "../components/EditForm.vue";
import Loader from "../components/Loader.vue";
import { useRouter } from "vue-router";
import { UpdateContractDTO } from "@/models/updateContract";
export default {
  name: "Edit",
  props: ["id"],
  components: {
    EditForm,
    Loader,
  },
  setup(props) {
    const steps = ref([]);
    const details = ref(null);
    const service = inject("service");
    const global = inject("global");
    const userId = global.pull("user")["id"];
    const router = useRouter();

    service
      .composeDetails(userId, props["id"])
      .then((res) => {
        details.value = res["results"][0];
        steps.value = res["select"]["data"];
      })
      .catch((err) => {
        console.log(err);
        global.push("message", "Contratto non disponibile");
        return router.push("/error");
      });

    const update = ($event) => {
      const payload = new UpdateContractDTO($event, userId, props["id"]);
      service
        .use("POST", "update-lavorazione-contratto.php", payload)
        .then(() => router.push("/"))
        .catch((err) => {
          global.push("message", err), router.push("/error");
        });
    };

    return {
      details,
      update,
      steps,
    };
  },
};
</script>