<template>
  <div class="f-l-main">
    <h1>Errore</h1>
    <p class="mt-16">{{ global.pull("message") }}</p>
    <router-link to="/" class="btn mt-56">
      <span class="material-icons"> home </span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Error",
  inject: ["global"],
};
</script>