<template>
  <header class="withActions">
    <h1>Sedi</h1>
    <button @click="showSearch()">
      <span class="material-icons"> search </span>
    </button>
  </header>

  <DataList
    v-if="length"
    :shape="state['shape']"
    :data="actualData"
    @action="showDetails($event)"
  />

  <Loader v-else />

  <Dialog v-model:showDialog="state['showDialog']" :name="'Dettaglio'">
    <Details :data="state['details']" />
  </Dialog>

  <Search v-model:showSearch="state['showSearch']" @query="search($event)" />
</template>
<script>
import { computed, inject, onUnmounted, ref } from "vue";
import DataList from "../components/DataList.vue";
import Dialog from "../components/Dialog.vue";
import Details from "../components/Details.vue";
import Loader from "../components/Loader.vue";
import Search from "../components/Search.vue";
import { map, switchMap, tap } from "rxjs/operators";
import { iif, Subscription } from "rxjs";

export default {
  name: "Home",
  components: {
    DataList,
    Dialog,
    Details,
    Loader,
    Search,
  },
  setup() {
    const state = ref({
      showDialog: false,
      showSearch: false,
      details: {},
      shape: {
        title: "ragione_sociale",
        description: "citta",
      },
    });
    const service = inject("service");
    const global = inject("global");
    const length = computed(() => data.value.length > 0);
    const data = ref([]);
    const actualData = computed(() =>
      data.value.filter((e) =>
        e.ragione_sociale.includes(_query.value.toUpperCase())
      )
    );
    const _query = ref("");
    const url = "lista-sedi.php";
    const userId = global.pull("user")["id"];

    let sub = new Subscription();
    const $getHeadquartes = service.$find(`${url}?id_user=${userId}`).pipe(
      map((res) => res["data"]),
      tap((res) => global.push("headquarters", res))
    );

    sub = global.$state
      .pipe(
        switchMap((state) =>
          iif(
            () => !state.headquarters,
            $getHeadquartes,
            global.$select("headquarters")
          )
        )
      )
      .subscribe((headquarters) => (data.value = headquarters));

    const showDetails = ($event) => {
      state.value["details"] = $event;
      state.value["showDialog"] = true;
    };

    const showSearch = () => {
      _query.value = "";
      state.value["showSearch"] = true;
    };

    const search = (params) => {
      _query.value = params;
    };

    onUnmounted(() => sub.unsubscribe());

    return {
      state,
      length,
      showDetails,
      showSearch,
      actualData,
      search,
    };
  },
};
</script>