<template>
  <header class="withActions">
    <h1>Contratti</h1>
    <button @click="state['showSearch'] = true">
      <span class="material-icons"> search </span>
    </button>
  </header>
  <DataList
    v-if="length"
    :shape="state['shape']"
    :data="actualData"
    @action="showDetails($event)"
  />
  <Loader v-else />
  <Search v-model:showSearch="state['showSearch']" @query="search($event)" />
</template>
<script>
import { computed, inject, onUnmounted, ref } from "vue";
import DataList from "../components/DataList.vue";
import Search from "../components/Search.vue";
import Loader from "../components/Loader.vue";
import { useRouter } from "vue-router";
import { map, switchMap, tap } from "rxjs/operators";
import { iif, Subscription } from "rxjs";

export default {
  name: "Home",
  components: {
    DataList,
    Search,
    Loader,
  },
  setup() {
    const state = ref({
      showSearch: false,
      shape: {
        title: "ragione_sociale",
        description: "tipo_servizio",
      },
    });
    const service = inject("service");
    const global = inject("global");
    const router = useRouter();
    const length = computed(() => data.value.length > 0);
    const _query = ref("");
    const url = "lista-lavorazione-contratti.php";
    const userId = global.pull("user")["id"];
    const data = ref([]);
    const actualData = computed(() =>
      data.value.filter((e) =>
        e.ragione_sociale.includes(_query.value.toUpperCase())
      )
    );
    let sub = new Subscription();
    const $getContracts = service.$find(`${url}?id_user=${userId}`).pipe(
      map((res) => res["data"]),
      tap((res) => global.push("contracts", res))
    );

    sub = global.$state
      .pipe(
        switchMap((state) =>
          iif(
            () => !state.contracts,
            $getContracts,
            global.$select("contracts")
          )
        )
      )
      .subscribe((contracts) => (data.value = contracts));

    const showDetails = ($event) => {
      if ($event["stato_lettura"] === "N") {
        const updatedContract = global
          .pull("contracts")
          .find((e) => e["id_lavorazione"] === $event["id_lavorazione"]);
        updatedContract["stato_lettura"] = "Y";
      }
      router.push(`/edit/${$event["id_lavorazione"]}`);
    };

    const search = (params) => {
      _query.value = params;
    };

    onUnmounted(() => sub.unsubscribe());

    return {
      state,
      length,
      showDetails,
      search,
      actualData,
    };
  },
};
</script>