<template>
  <form class="f-l-main" @submit.prevent="submit()">
    <div class="mb-24">
      <label for="username">Username</label>
      <input v-model="form.email" type="email" />
    </div>
    <div class="mb-24">
      <label for="password">Password</label>
      <input v-model="form.password" type="password" />
    </div>
    <p v-if="error" class="error">{{ error }}</p>
    <div class="mt-24">
      <button type="submit">
        <span class="material-icons"> login </span>
      </button>
    </div>
  </form>
</template>
<script>
export default {
  name: "Login",
  inject: ["global", "service"],
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      error: null,
    };
  },
  methods: {
    submit() {
      this.service
        .use("POST", "login.php", this.form)
        .then((res) => {
          if (res[0]["status"] > 0) {
            this.defineUser(res);
          } else {
            this.error = res[0]["message"];
          }
        })
        .catch((err) => {
          this.global.push("message", err.error);
          return this.$router.push("error");
        });
    },
    defineUser(response) {
      const user = {
        name: response[0]["nome_utente"],
        email: response[0]["mail"],
        id: response[0]["id_user"],
      };
      this.global.state = {
        user: user,
        loggedIn: true,
        message: "user logged successfully",
      };
      localStorage.setItem("token", response[0]["bearer"]);
      this.$router.push({ name: "Contratti" });
    },
  },
};
</script>