<template>
  <header class="withActions">
    <h1>Impianti</h1>
    <button @click="state['showSearch'] = true" disabled>
      <span class="material-icons"> search </span>
    </button>
  </header>

  <DataList
    v-if="length"
    :shape="state['shape']"
    :data="state['data']"
    @action="showDetails($event)"
  />

  <Loader v-else />

  <Dialog v-model:showDialog="state['showDialog']" :name="'Dettaglio'">
    <Details :data="state['details']" />
  </Dialog>
  <Pager
    :total="state['total']"
    size="10"
    page="1"
    @change="changePage($event)"
  />
  <Search v-model:showSearch="state['showSearch']" @query="search($event)" />
</template>
<script>
import { computed, inject, ref } from "vue";
import DataList from "../components/DataList.vue";
import Dialog from "../components/Dialog.vue";
import Details from "../components/Details.vue";
import Search from "../components/Search.vue";
import Loader from "../components/Loader.vue";
import Pager from "../components/Pager.vue";

export default {
  name: "Home",
  components: {
    DataList,
    Dialog,
    Details,
    Search,
    Loader,
    Pager,
  },
  setup() {
    const state = ref({
      showDialog: false,
      showSearch: false,
      details: {},
      shape: {
        title: "ragione_sociale",
        description: "nome_impianto",
      },
      data: [],
      total: null,
    });
    const service = inject("service");
    const global = inject("global");
    const length = computed(() => state.value["data"].length > 0);
    const url = "lista-impianti.php";
    const userId = global.pull("user")["id"];

    service
      .use("GET", `${url}?id_user=${userId}&page=1&size=10`)
      .then(
        (res) => (
          (state.value["data"] = res["data"]),
          (state.value["total"] = res["total_record"])
        )
      );

    const showDetails = ($event) => {
      state.value["details"] = $event;
      state.value["showDialog"] = true;
    };

    const changePage = (page) => {
      state.value["data"] = [];
      service
        .use("GET", `${url}?id_user=${userId}&page=${page}&size=10`)
        .then((res) => (state.value["data"] = res["data"]));
    };

    const search = (params) => {
      console.log(params);
    };

    return {
      state,
      length,
      showDetails,
      changePage,
      search,
    };
  },
};
</script>