<template>
  <ul class="list">
    <li v-for="item in data" :key="item.id" @click="$emit('action', item)">
      <h4>
        {{ item[title] }}
        <span
          v-if="item['stato_lettura'] === 'N'"
          class="material-icons primary"
        >
          fiber_new
        </span>
      </h4>
      <p>
        {{ item[description] }}
      </p>
    </li>
  </ul>
</template>
<script>
export default {
  name: "DataList",
  props: ["data", "shape"],
  emits: ["action"],
  data() {
    const { title, description } = this.shape;
    return {
      title,
      description,
    };
  },
};
</script>