<template>
  <ul class="list">
    <li v-for="(value, name) in data" :key="value">
      <h4 class="textCap">{{ name.replace("_", " ") }}</h4>
      <p>
        {{ value }}
      </p>
    </li>
  </ul>
</template>
<script>
export default {
  name: "Details",
  props: ["data"],
};
</script>