<template>
  <transition>
    <div class="dialog" v-if="showDialog">
      <section class="container">
        <header class="withActions">
          <h1>{{ name }}</h1>
          <button @click="$emit('update:showDialog', false)">
            <span class="material-icons">close</span>
          </button>
        </header>
        <slot />
      </section>
    </div>
  </transition>
</template>
<style lang="scss" scoped>
@import "../sass/_variables.scss";

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 56px 0;
  z-index: 999;
  transition: top 0.3s ease;
  background-color: $bodyColor;
  overflow-y: scroll;
}

.v-enter-active,
.v-leave-active {
  top: 100vh;
}
</style>
<script>
export default {
  name: "Dialog",
  props: ["name", "showDialog"],
};
</script>