<template>
  <ul class="list">
    <li>
      <h4>Ragione sociale</h4>
      <p>{{ details["ragione_sociale"] }}</p>
    </li>
    <li>
      <h4>Impianto</h4>
      <p>{{ details["impianto"] }}</p>
    </li>
    <li>
      <h4>Tipo servizio</h4>
      <p>{{ details["tipo_servizio"] }}</p>
    </li>
    <li>
      <h4>Fase Lavoro</h4>
      <p>{{ details["fase_lavoro"] || "non definita" }}</p>
    </li>
    <li>
      <h4>Data inizio pianificata</h4>
      <p>{{ details["data_inizio_pianificazione"] }}</p>
    </li>
    <li>
      <h4>Data fine pianificata</h4>
      <p>{{ details["data_fine_pianificazione"] }}</p>
    </li>
  </ul>
  <section class="mt-24">
    <header>
      <h2>Lavorazione</h2>
    </header>
    <form class="mt-24" @submit.prevent="$emit('action', data)">
      <div class="mb-16">
        <label>Specifche risorse</label>
        <textarea v-model="data.specifiche_risorse" rows="6"></textarea>
      </div>
      <div class="mb-16">
        <label>Proposte</label>
        <textarea v-model="data.proposte" rows="6"></textarea>
      </div>
      <div class="mb-16">
        <label>Criticità</label>
        <textarea v-model="data.criticita" rows="6"></textarea>
      </div>
      <div class="mb-16">
        <label>Data Inizio effettivo</label>
        <input v-model="data.data_inizio_effettiva" type="date" required />
      </div>
      <div class="mb-16">
        <label>Data Fine effettiva</label>
        <input v-model="data.data_fine_effettiva" type="date" required />
      </div>
      <div class="mb-16">
        <label>Status fase</label>
        <select v-model="data.id_status_fase">
          <option v-for="(step, i) in steps" :key="i" :value="step['id']">
            {{ step["nome"] }}
          </option>
        </select>
      </div>
      <div class="mb-56">
        <label>Lettura</label>
        <select v-model="data.stato_lettura">
          <option value="Y">si</option>
          <option value="N">no</option>
        </select>
      </div>
      <div class="textCenter">
        <button type="submit">
          <span class="material-icons"> update </span>
        </button>
      </div>
    </form>
  </section>
</template>

<script>
export default {
  name: "EditForm",
  props: ["details", "steps"],
  emits: ["action"],
  data() {
    return {
      data: this.details || {},
    };
  },
};
</script>