  
<template>
  <div id="mainFooter">
    <nav v-if="loggedIn">
      <router-link to="/">
        <span class="material-icons"> home </span>
      </router-link>
      <router-link to="plants">
        <span class="material-icons"> construction </span>
      </router-link>
      <router-link to="headquarters">
        <span class="material-icons"> corporate_fare </span>
      </router-link>
      <router-link to="registry">
        <span class="material-icons"> account_box </span>
      </router-link>
    </nav>
    <aside class="textCenter">
      <h4>©Tecno srl</h4>
      <p class="mt-8">mobile management app</p>
    </aside>
  </div>
</template>
<script>
import { inject, onUnmounted, ref } from "vue";
import { Subscription } from "rxjs";
export default {
  name: "Footer",
  setup() {
    const loggedIn = ref(false);
    let sub = new Subscription();

    const global = inject("global");

    sub = global
      .$select("loggedIn")
      .subscribe((logged) => (loggedIn.value = logged));

    onUnmounted(() => sub.unsubscribe());

    return {
      loggedIn,
    };
  },
};
</script>