<template>
  <div id="overlay">
    <div class="loader-wrapper">
      <span class="loader"></span>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import "../sass/_variables.scss";

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $color;
    border-color: $color transparent $color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
</style>
<script>
export default {
  name: "Loader",
};
</script>