<template>
  <nav
    id="mainNavbar"
    v-if="loggedIn"
    :class="open ? 'open' : ''"
    @click.prevent="open = !open"
  >
    <div class="desktop">
      <a href=".">
        <img width="36" src="@/assets/logo.svg" alt="Tuna logo" />
        &ensp;Tuna Management
      </a>
      <ul>
        <li v-for="route in actualRoutes" :key="route.name">
          <router-link :to="route.path">{{ route.name }}</router-link>
        </li>
        <li>
          <a @click.prevent="signout()">signout</a>
        </li>
      </ul>
    </div>
    <div class="mobile">
      <a id="menu">
        <span class="material-icons">{{ open ? "close" : "menu" }}</span>
      </a>
      <a href=".">
        <img width="36" src="@/assets/logo.svg" alt="Tuna logo" />
        &ensp;Tuna Management
      </a>
      <div class="nav">
        <ul>
          <li v-for="route in actualRoutes" :key="route.name">
            <router-link :to="route.path">{{ route.name }}</router-link>
          </li>
          <li>
            <a @click.prevent="signout()">signout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <figure v-else class="textCenter pt-56">
    <img width="180" src="@/assets/logo.svg" alt="tuna logo" />
  </figure>
</template>

<script>
import { computed, inject, onUnmounted, ref } from "vue";
import { routes } from "../router/routes";
import { Subscription } from "rxjs";
import { useRouter } from "vue-router";

export default {
  name: "Navbar",
  setup() {
    const open = ref(false);
    const actualRoutes = computed(() =>
      routes.filter(
        (e) => e.name != "Login" && e.name != "Error" && e.name != "Edit"
      )
    );
    const global = inject("global");
    const loggedIn = ref(false);
    const router = useRouter();
    let sub = new Subscription();

    sub = global
      .$select("loggedIn")
      .subscribe((logged) => (loggedIn.value = logged));

    const signout = async () => {
      await localStorage.removeItem("token");
      await global.push("loggedIn", false);
      router.push("/login");
    };

    onUnmounted(() => sub.unsubscribe());

    return {
      open,
      actualRoutes,
      loggedIn,
      signout,
    };
  },
};
</script>