<template>
  <nav>
    <div class="f-l-jc mt-24">
      <button
        class="mr-56"
        @click="changePage(false)"
        :disabled="actualPage === 1"
      >
        <span class="material-icons"> chevron_left </span>
      </button>
      <h5 class="textCenter">{{ actualPage }} / {{ totalPages }}</h5>
      <button
        class="ml-56"
        @click="changePage(true)"
        :disabled="actualPage === totalPages"
      >
        <span class="material-icons"> chevron_right </span>
      </button>
    </div>
  </nav>
</template>

<script>
import { computed, ref, toRefs } from "vue";
export default {
  name: "Pager",
  emits: ["change"],
  props: ["total", "page", "size"],
  setup(props, { emit }) {
    const { total, page, size } = toRefs(props);
    const totalPages = computed(() => Math.ceil(total.value / size.value));
    const actualPage = ref(Number(page.value));
    const changePage = (next) => {
      next ? actualPage.value++ : actualPage.value--;
      emit("change", actualPage.value);
    };

    return {
      totalPages,
      actualPage,
      changePage,
    };
  },
};
</script>