<template>
  <transition>
    <div class="search" v-if="showSearch">
      <input ref="inputRef" type="text" v-model.trim="search$" />
      <span class="close" @click="close()">
        <span class="material-icons"> close </span>
      </span>
    </div>
  </transition>
</template>

<script>
import { Subject, Subscription } from "rxjs";
import {
  debounceTime,
  distinctUntilChanged,
  filter,
  tap,
} from "rxjs/operators";
import { computed, onMounted, onUnmounted, ref, watchEffect } from "vue";
export default {
  name: "Search",
  props: ["showSearch", "onUpdate:showSearch"],
  emits: ["query"],
  setup(props, { emit }) {
    const inputRef = ref(null);
    let sub = new Subscription();
    const query$ = new Subject();

    const search$ = computed({
      get: (params) => params,
      set: (params) => query$.next(params),
    });

    const close = () => emit("update:showSearch", false);

    watchEffect(
      () => (inputRef.value != null ? inputRef.value.focus() : null),
      {
        flush: "post",
      }
    );

    onMounted(() => {
      sub = query$
        .pipe(
          debounceTime(600),
          distinctUntilChanged(),
          filter((params) => params.length > 2 || params.length === 0),
          tap((params) => emit("query", params)),
          debounceTime(4400)
        )
        .subscribe(() => close());
    });

    onUnmounted(() => {
      sub.unsubscribe();
    });

    return {
      search$,
      inputRef,
      close,
    };
  },
};
</script>

<style lang="scss" scoped>
.search {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    #fff 60%,
    rgba(255, 255, 255, 0.87) 80%,
    transparent 100%
  );
  transition: top 0.3s ease;
  z-index: 999;
}
.close {
  position: absolute;
  cursor: pointer;
  right: 40px;
  top: 28px;
}

.v-enter-active,
.v-leave-active {
  top: -25vh;
}
</style>