<template>
  <div class="f-page">
    <header>
      <Navbar />
    </header>
    <main>
      <router-view />
    </main>
    <footer>
      <Footer />
    </footer>
  </div>
</template>

<style lang="scss">
@import "./sass/style.scss";
</style>

<script>
import Navbar from "./components/Navbar.vue";
import Footer from "./components/Footer.vue";
import router from "./router/index";
import { provide } from "vue";
import { Store } from "./providers/store";
import { ApiService } from "./providers/api.service";

export default {
  components: {
    Navbar,
    Footer,
  },
  setup() {
    router.beforeEach((to, from, next) => {
      if (to.name !== "Login" && !global.pull("loggedIn")) {
        next({ name: "Login" });
      } else {
        next();
      }
    });

    const global = new Store({
      user: {},
      loggedIn: false,
      message: "Global store initializated",
    });

    const service = new ApiService("https://gestione.tecnosrl.it/api_app/");

    provide("global", global);
    provide("service", service);
  },
};
</script>
